.top_bar {
	z-index: 1;
	position: fixed;
	top: 10;
	left: 12;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	background-color: #9999998e;
	backdrop-filter: blur(10px);
}
.top_bar .line {
	width: 2px;
	height: 16px;
	border-radius: 1px;
	opacity: 0.5px;
	background-color: #ffffff;
}
.top_bar img {
	margin: 8px 12px;
}
