@import url('./assets/style/fonts.css');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
}

body {
	background-color: #f8f8fa;
	display: flex;
	justify-content: center;
	align-items: center;
}

.layout_wrapper {
	flex-direction: column;
	overflow: scroll;
	height: 100vh;
}
::-webkit-scrollbar {
	display: none;
}
@media (max-width: 1000px) {
	.layout_wrapper {
		width: 100vw;
	}
	.product_showcase .product_img {
		height: 100vw;
	}
}
@media (min-width: 1000px) {
	.layout_wrapper {
		width: 375px;
	}
	.product_showcase .product_img {
		height: 375px;
	}
}

.content {
	overflow: auto;
	flex-grow: 1;
}
.block {
	border-radius: 10px;
	background-color: #ffffff;
	margin: 0 12px 10px 12px;
}

.product_showcase {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 10px;
}
.product_showcase .product_img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.product_showcase .product_img img {
	max-width: 100%;
	max-height: 100%;
}

.product_showcase .play_button {
	position: absolute;
	z-index: 1;
	height: 60px;
	width: 60px;
	background-color: transparent;
	border: none;
}
.product_showcase .preview_box {
	position: absolute;
	z-index: 1;
	height: 48px;
	bottom: 0;
	left: 0;
	margin: 12px;
	background-color: #99999980;
	border-radius: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product_showcase .preview_box .serial_number {
	margin: 0 16px 0 16px;
	font-family: 'DINPro';
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: left;
}
.product_showcase .preview_box .serial_number .separate {
	font-size: 10px;
	line-height: 13px;
	margin: 0 2px 0 2px;
}
.product_showcase .preview_box .preview_img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
}
.product_showcase .preview_box .preview_img div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border: none;
	background-color: #f1f2f4;
	border-radius: 6px;
	overflow: hidden;
}
.product_showcase .preview_box .preview_img .selected {
	width: 34px;
	height: 34px;
}
.product_showcase .preview_box .preview_img div .play_button {
	width: 20px;
}
.product_showcase .preview_box .preview_img button {
	width: 20px;
	height: 20px;
	margin-left: -2px;
	border: none;
	background-color: transparent;
}

.product_info {
	padding: 16px 12px 16px 12px;
}
.product_info .title {
	margin-bottom: 8px;
}
.product_info .tags {
	margin-bottom: 8px;
	display: flex;
	justify-content: left;
	align-items: center;
}
.product_info .tags .tag {
	border: 1px solid;
	border-radius: 4px;
	margin-right: 6px;
	padding: 2px 6px 3px 6px;
}
.product_info .introduction {
	color: #999999;
	margin-bottom: 8px;
}
.product_info .info_table {
	white-space: nowrap;
	display: flex;
	overflow-x: scroll;
	align-items: center;
	justify-content: left;
	border-radius: 10px;
	background-color: #f8f8fa;
	padding: 12px 20px 12px 20px;
}
.product_info .info_table .line {
	height: 41px;
	border: 0.5px solid #eeeeee;
	margin: 0 16px 0 16px;
}
.product_info .info_table .info {
	display: flex;
	flex-direction: column;
}
.product_info .info_table .info .item_detail {
	color: #333333;
}
.product_info .info_table .info .item {
	width: min-content;
	color: #999999;
}
.bottom {
	height: 30px;
	border: 1px solid blue;
}
